{% extends "profile_base.html" %}
{% block extraCSS %}
<link rel=stylesheet type=text/css href="{{config.STATIC_PATH}}css/custom/prphoto_profile.css">
{% endblock %}
{% block adWord %}<a class="brand" href="/">KACHA</a>{% endblock %}
{% block tabHeader %}
<div class="container">
  <ul class="nav nav-tabs" id="profile_tab_header">
    <li class="active">
      <a href="#base_info" data-toggle="tab">Base Info</a>
      </li>
    <!--li>
      <a href="#person_setting" data-toggle="tab">Person Settings</a>
    </li-->
  </ul>
</div>
{% endblock %}
{% block tabContent %}
<div class="container">
  <div class="tab-content">
    <div class="tab-pane active" id="base_info">
      <table>
        <tr id="tr_nickname">
          <td><span class="label">Nick Name</span>&nbsp;&nbsp;</td>
          <td class="profile_info">{{ user.nickname }}</td>
          <td id="btn_nickname">
            &nbsp;&nbsp;
            <a href="#" id="edit_nickname">edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="label">Email</span>&nbsp;&nbsp;</td>
          <td class="profile_info">{{ user.username }}</td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td><span class="label">Password</span>&nbsp;&nbsp;</td>
          <td class="profile_info">{{ user.password | password }}</td>
          <td id="btn_password">
            &nbsp;&nbsp;
            <a href="#" id="edit_password">edit</a>
          </td>
        </tr>
        <tr>
          <td><span class="label">Location</span>&nbsp;&nbsp;</td>
          <td class="profile_info">{{ user.location }}</td>
          <td id="btn_location">
            &nbsp;&nbsp;
            <a href="#" id="edit_location">edit</a>
          </td>
        </tr>
      </table>
    </div>
    <!--div class="tab-pane" id="person_setting">...</div-->
  </div>
</div> <!-- /container -->
{% endblock %}
{% block passwordHint %}
<div class="modal hide fade" id="password-modal">
  <div class="modal-body">
    <p>Sure to change the password?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary save-password" data-dismiss="modal" aria-hidden="true">Save</a>
  </div>
</div>
{% endblock %}
{% block extraJS %}
<script src="../../static/js/jquery-validate.min.js"></script>
<script src="../../static/js/custom/prphoto_showFlash.js"></script>
<script src="../../static/js/custom/prphoto_profile.js"></script>
{% endblock %}
