<html>
<head>
<title>留言中心</title>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid" >
	<div class="row-fluid">
		<div class="span12">

			<div class="page-header">
				<h1>
					<strong>公共平台反馈中心</strong>
				</h1>
			</div>
			<p>
				本页面为民院小偲建议及bug提交页面，当然扯淡也可以O(∩_∩)O哈哈~，欢迎大家留言
			</p>
		</div>
	</div>
</div>
<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="1" data-title="留言中心" data-url="http://219.217.179.16/feedback"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"dlnu-feedback"};
    (function() {
            var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                    ds.charset = 'UTF-8';
                                            (document.getElementsByTagName('head')[0]
                                                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                                                })();
    </script>
    <!-- 多说公共JS代码 end -->

</body>
</html>
