<!DOCTYPE html>
<html>
<head>
  <link href='http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css' rel='stylesheet' >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    
    body { background-repeat:repeat}
    .container{width:350px;background:#fff;border-radius:5px;margin-top:15%;padding:15px 10px;}
    .form-title{text-align:center;color:#666;}
  </style>

</head>
  <body>
  <h class=hide style='display: none;'>test</h>
  
    <div class='container' >
    <form class="form-horizontal" role="form" action='' method='post'>
     {{form.hidden_tag()}}
    <legend class='form-title'>教务系统绑定</legend>
    
    <div class="form-group">
     <div class="col-sm-10 col-sm-offset-1">
       {{ form.username(class = 'form-control', placeholder='学号') }}
   </div>
    </div>

    <div class="form-group">
     <div class="col-sm-10 col-sm-offset-1">
      {{ form.password_urp(class = 'form-control', placeholder='信息门户密码') }}

    </div>
    </div>
     
    <div class="form-group">
    <div class="col-sm-10 col-sm-offset-1">
      {{ form.password_drcom(class = 'form-control', placeholder='校园网密码') }}

    </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1" style='text-align:right'>
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
    </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </form>
    </div>
    



</html>
