{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 align = 'center'>教务系统绑定</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
      
        学号{{form.username}}<br />
        
        教务密码{{form.password_urp}}</br />
        校网密码{{form.password_drcom}}<br />
    <p><input type="submit" value="绑定"></p>
</form>



